body {
	background-color: #6b92b9;
	background-image: url("images/BiSmXaq.png"), url("images/XHuy0NJ.png"), url("images/okpRxJU.png");
	animation: snow 120s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
@keyframes snow {
  0% { 
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: black;
  }
  50% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
    background-color: black;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-color: black;
  }
}
